:global(.ant-layout-sider-children) {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.sider :global(.ant-menu) {
  background: transparent;
}

.logoArea {
  height: 56;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding-inline: 16px;
  gap: 10px;
  overflow: hidden;
  height: 56px;
}

.logo {
  width: 100%;
  margin: 8px 0;
  display: flex;
  justify-content: center;
}

.toggleIconOpen {
  transform: rotate(180deg) !important;
}

.toggleIconOpen,
.toggleIconClose {
  transition-duration: 0.25s;
}

.toggleButton {
  width: calc(100% - 16px) !important;
  margin: 4px 8px;
}
